/*--------------- Reset Css ---------------*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: Raleway;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

link {
  display: none;
}

/*--------------- Reset Css ---------------*/
.fram1 {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 2rem;
  margin: 0 auto;
}

@media (min-width: 768px) {
  * {
    transition: 0.5s;
  }

  #header {
    background-color: rgba(240, 255, 255, 0.425);
    flex-flow: column wrap;
  }

  #header .header__menu ul {
    flex-flow: row wrap;
  }

  #header .header__menu ul li a:hover {
    background-color: #EDF5E1;
    color: #05386B;
  }

  .flex-container .flex-item .flex-item-item {
    height: 400px;
  }
}
@media (min-width: 1000px) {
  * {
    transition: 0.5s;
  }

  #header {
    background-color: rgba(240, 255, 255, 0.425);
    flex-flow: row wrap;
  }

  #header .header__menu ul {
    flex-flow: row wrap;
  }

  #header .header__menu ul li a:hover {
    background-color: #EDF5E1;
    color: #05386B;
  }

  section .flex-container .flex-item img {
    width: 100%;
    height: 150px;
  }

  .flex-container .flex-item .flex-item-item {
    width: auto;
    height: 20vh;
  }

  .flex-container .flex-item {
    margin-top: 10px;
    width: auto;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-inline: 10px;
  }

  .flex-container .flex-item .flex-item-item.especial {
    display: flex;
  }
}
* {
  font-family: Raleway;
}

body {
  background: linear-gradient(to bottom, rgba(255, 129, 129, 0.8) 0%, #ffb350 33%, #f33e31 70%, #86e7e7 100%);
  color: black;
}

.boxOperaciones {
  background-color: #FFF;
  padding: 20px;
  width: 320px;
}

h1 {
  color: white;
  background-color: dark;
}

.col-1 {
  width: 100%;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 33.3333333333%;
}

.col-4 {
  width: 25%;
}

.col-5 {
  width: 20%;
}

.col-6 {
  width: 16.6666666667%;
}

.col-7 {
  width: 14.2857142857%;
}

.col-8 {
  width: 12.5%;
}

.col-9 {
  width: 11.1111111111%;
}

.col-10 {
  width: 10%;
}

.col-11 {
  width: 9.0909090909%;
}

.col-12 {
  width: 8.3333333333%;
}

/* Each */
.icon-fb {
  background-color: blue;
}

.icon-ig {
  background-color: violet;
}

.icon-tw {
  background-color: skyblue;
}

.h1-ram {
  text-decoration: none;
  color: black;
  font-weight: 900;
  font-size: 4rem;
  /* border-bottom: 4px solid black; */
}

.a-ram {
  font-weight: bolder;
  text-decoration: none;
  color: black;
}

.fram1 {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 2rem;
  margin: 0 auto;
  justify-content: center;
}

/* MAIN MAIN MAIN MAIN MAIN MAIN */
main img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  height: 500px;
  width: 100vw;
  object-fit: cover;
  object-position: top;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: center;
}
main img div {
  position: absolute;
  top: 450px;
  left: 10%;
  color: white;
  background-color: #77777775;
  z-index: 2;
  font-weight: 900;
  font-size: 30px;
  text-decoration: none;
  border: solid 20px transparent;
  border-radius: 10px;
}
main img div a {
  background: -webkit-linear-gradient(#d68010, #ff6161, red);
  -webkit-text-fill-color: transparent;
  border-bottom: 5px solid #a72b2b;
}

/* FLEX 1 */
.flex.container {
  width: 80vw;
  height: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: center;
  flex-basis: auto;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
}
.flex.container-item {
  margin-top: 10px;
  width: auto;
  height: auto;
  justify-content: center;
  margin-inline: 10px;
}
.flex.container-item-item {
  margin-top: 10px;
  width: auto;
  height: 28vh;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}
.flex.container-item-item.especial {
  display: none;
}
.flex.container-item-item.especial p {
  padding-top: 10px;
  padding-bottom: 10px;
}
.flex.container-item-item.especial p img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  height: 500px;
  width: 100vw;
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
  object-fit: center;
  object-position: center;
}
.flex.container-card {
  margin-top: 10px;
  display: flex;
  flex-flow: row;
  width: auto;
  height: auto;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  justify-items: space-evenly;
  /* margin-inline: 10px; */
  /* gap: 10px; */
}
.flex.container-card h2 {
  padding-right: 10px;
}
.flex.container-card img {
  margin-top: 10px;
  width: 50px;
  height: auto;
  justify-content: center;
  margin-inline: 10px;
}

.flex-titulo {
  padding-top: 40px;
  padding-bottom: 10px;
  text-align: center;
  font-weight: 900;
  font-size: 40px;
}

/* Otros */
table {
  border-spacing: 10px;
}

th, td {
  padding: 5%;
}

.lista {
  /* padding-left: 30px;
  margin-left: 30px;
  border-left: 30px; */
  display: flex;
  flex-flow: column;
  text-align: center;
  list-style-position: inside;
  padding-top: 10px;
}

/* FOOTER  */
footer {
  background-color: #00000044;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 15px;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  text-decoration: none;
  justify-self: center;
  border-radius: 8px;
  /* border: solid 20px trasn; */
}