@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.fram1 {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 2rem;
  margin: 0 auto;
}

* {
  font-family: Raleway;
}

body {
  background: linear-gradient(to bottom, rgba(255, 129, 129, 0.8) 0%, #ffb350 33%, #f33e31 70%, #86e7e7 100%);
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.navbar-ram {
  text-decoration: none;
  color: white;
  font-weight: 900;
  font-size: 2rem;
  padding-left: 15%;
  /* border-bottom: 4px solid black; */
}

.h1-ram {
  text-decoration: none;
  color: black;
  font-weight: 900;
  font-size: 4rem;
  /* border-bottom: 4px solid black; */
}

.a-ram {
  font-weight: bolder;
  text-decoration: none;
  color: black;
}

.ramaimg background {
  image: url(../images/doc.jpg);
  size: cover;
  position: bottom;
  object-fit: bottom;
  align-self: bottom;
}